{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 110,
        "singleQuote": false
      }
    }
  ]
}